* {
    list-style: none;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
.button {
    padding: 5px 15px;
    font-size: 18px;
    color: aliceblue;
    background-color: #23a;
    border-radius: 3px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, rgba(0, 0, 255, 0.673), rgba(0, 128, 0, 0.653) 55%);
}

.main_block {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label > * {
    width: 100%;
}

.display-currency {
    width: 100%;
}

.display-currency__value {
    text-align: right;
    font-size: 20px;
    padding: 10px 5px;
    background-color: transparent;
    border: 2px solid white;
    color: #23a;
    font-weight: bold;
    border-radius: 5px;
    width: max-content;
}
